.container {
  width: 880px;
  margin-left: 64px;
}

.truckerList {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.truckerItem {
  display: flex;
  border: 1px solid #dadde1;
  border-radius: 20px;
  padding: 24px;
  margin: 0;
}

.truckImg {
  margin-right: 24px;
  width: 292px;
  /* height: 320px; */
  object-fit: cover;
  border-radius: 10px;
}

.truckDescription {
  width: 524px;
}

.truckTitle {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.truckName {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #101828;
}

.truckPrice {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #101828;
}

.svgHeart:hover {
  fill: #e44848;
}

.priceBlock {
  display: flex;
  align-items: center;
  gap: 12px;
}

.truckDetails {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.svgStar {
  --color3: #ffc531;
}

.truckReviews {
  display: flex;
  gap: 4px;
}

.svgMap {
  --color4: #101828;
}

.truckLocation {
  display: flex;
  gap: 4px;
}

.truckText {
  width: 100%;
  margin-bottom: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filterList {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.filterItem {
  border-radius: 100px;
  padding: 12px 18px;
  background: #f2f4f7;
  display: flex;
  align-items: center;
  gap: 8px;
}

.filterText {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #101828;
}

.btn {
  border-radius: 200px;
  padding: 18px 40px;
  width: 166px;
  height: 56px;
  background: #e44848;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
}

.btnLoadMore {
  border: 1px solid #dadde1;
  border-radius: 200px;
  padding: 16px 16px;
  width: 145px;
  height: 56px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #101828;
  display: block;
  margin: 0 auto;
}

.btnLoadMore:hover,
.btnLoadMore:active {
  border: 1px solid #d84343;
}
